<html>
      <head>
        <title>About</title>
        <div class="topnav">
          <a class="active" href=" {{ ('/') }}">Home</a> &nbsp; 
          <a href=" {{ ('about') }}">About</a> &nbsp;
          <a href=" {{ ('stock') }}">Stock</a> &nbsp;
          <a href=" {{ ('order-request') }}">Order Request</a>
        </div>
      </head>
      <h1><strong>Who are we?</strong></h1>
        <p>Here at Callums Cameras we're proud to be one of the few places in West Yorkshire where you can still buy and develop your film!<br>
          with over 50 years of experience in film photography and development
        you know your photos are in good hands with us<p>
        </body>
</html>
