<html>
    <head>
          <title>Stock</title>
      <div class="topnav">
        <a class="active" href=" {{ ('/') }}">Home</a> &nbsp;
        <a href=" {{ ('about') }}">About</a> &nbsp;
        <a href=" {{ ('stock') }}">Stock</a> &nbsp;
        <a href=" {{ ('order-request') }}">Order Request</a>
      </div>
    </head>
      <body>
        <h1>What we sell:</h1>
        <div class='form'>
          <form method='POST' action=''>
              {{ form.hidden_tag() }}
              {{ form.stock_name.label }} {{ form.stock_name }} {{ form.submit }} <br>
          {{ message }}
          </form>
      </div>
        <p>Or alternatively, if the item you're looking for isn't listed, click <a href=" {{ ('order-request') }}">here</a> to make an order request.</p>
    </body>
</html>